<%= form_with(model: team, data: {turbo: false}) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="card">
  <%= link_to "✕", teams_path ,style:"float: right; color: red; font-weight: bold;" %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="flexbox">
    <%= form.submit t(".submit") ,class: "flex-btn" %>
  </div>
</div>
<% end %>
