<% content_for :head do %>
  <%= stylesheet_link_tag "static/how_to_use", "data-turbo-track": "dynamic" %>
<% end %>

<%= render "how_to_use_header" %>


<div class="how-to-use-container">
  <h1>使い方</h1>

  <p>このアプリケーションの使い方を説明します。</p>

  <h2>1. アカウント登録</h2>
  <%= image_tag "background.jpg", class: "how-to-use-image" %>
  <p>まずはアカウント登録を行ってください。</p>

  <h2>2. ログイン</h2>
  <%= image_tag "background.jpg", class: "how-to-use-image" %>
  <p>登録したアカウントでログインします。</p>

  <h2>3. 機能の利用</h2>
  <%= image_tag "background.jpg", class: "how-to-use-image" %>
  <p>ログイン後、各機能を利用できます。</p>
</div>
