<div id="<%= dom_id message %>" class="message-row other-row message-user-<%= message.user_id %>">
    <div class="message-header">
      <span class="user-name"><%= message.user.name %></span>
    </div>
    
    <div class="message-bubble other-message">
      <%= message.content %>
      <div class="message-time"><%= message.created_at.strftime("%H:%M") %></div>
    </div>
</div>
