<div id="<%= dom_id message %>" class="message-row other-row message-user-<%= message.user_id %>">
    <div class="message-header">
      <span class="user-name" style="margin-left: 80px;"><%= message.user.name %></span>
    </div>
    <div class="flexbox">
    <%= image_tag message.user.icon_url,style: "height: 80px; width: 80px;", class: "icon" %>
    <div class="message-bubble other-message">
      <%= message.content %>
      <div class="message-time"><%= message.created_at.strftime("%H:%M") %></div>
    </div>
    </div>
</div>
