<%= form_with(model: office) do |form| %>
  <% if office.errors.any? %>
    <div style="color: red">
      <h2><%= t(".errors.title", count: office.errors.count) %></h2>

      <ul>
        <% office.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, required: true %>
  </div>

<%= form.fields_for :teams do |team_form| %>
  <div>
    <%= team_form.label :name, t(".team_name"), style: "display: block" %>
    <%= team_form.text_field :name, required: true %>
  </div>
<% end %>

  <div class="flexbox">
    <%= form.submit t(".submit") ,class: "flex-btn"%>
  </div>
<% end %>
