<%= form_with(model: user_client) do |form| %>
  <% if user_client.errors.any? %>
    <div style="color: red">
      

      <ul>
        <% user_client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.collection_select :user_id, @users, :id, :name %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_field :note %>
  </div>

  <div>
    <%= form.submit t(".submit") %>
  </div>
<% end %>
