<%= form_with(model: user_client) do |form| %>
  <% if user_client.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_client.errors.count, "error") %> prohibited this user_client from being saved:</h2>

      <ul>
        <% user_client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :office_id, style: "display: block" %>
    <%= form.text_field :office_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :client_id, style: "display: block" %>
    <%= form.text_field :client_id %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_field :note %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
