<div id="<%= dom_id user_client %>">

  <p>
    <strong><%= t(".user") %></strong>
    <%= user_client.user.name %>
  </p>

  <p>
    <strong><%= t(".note") %></strong>
    <%= user_client.note %>
  </p>

  <%= button_to t(".destroy"), team_client_user_client_path(user_client.client.team, user_client.client, user_client), method: :delete %>
</div>
