<div id="<%= dom_id user_client %>">
  <p>
    <strong>Office:</strong>
    <%= user_client.office_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_client.user_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= user_client.client_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= user_client.note %>
  </p>

</div>
