<div id="<%= dom_id user_client %>">
  <p>
    <strong><%= t(".office") %></strong>
    <%= user_client.office_id %>
  </p>

  <p>
    <strong><%= t(".user") %></strong>
    <%= user_client.user_id %>
  </p>

  <p>
    <strong><%= t(".client") %></strong>
    <%= user_client.client_id %>
  </p>

  <p>
    <strong><%= t(".note") %></strong>
    <%= user_client.note %>
  </p>

</div>
