<%= turbo_frame_tag "user_client" do %>
  <div class="modal open">
      <%= turbo_stream_from [@team, :user_clients] %>

      <h2>担当可能従業員</h2>

      <div id="user_clients">
        <% @user_clients.select(&:persisted?).each do |user_client| %>
          <%= render user_client %>
        <% end %>
      </div>

      <hr style="display:block;">

      <div class="flexbox">
      <% @users.each do |u| %>
      <%= button_to u.name, team_client_user_clients_path(@team, @client), method: :post, params: { user_client: { user_id: u.id, client_id: @client.id } }, class: "flex-btn" %>
      <% end %>
      </div>

      <%= link_to "閉じる", edit_team_client_path(@team, @client) ,class: "flex-btn"%>
  </div>
<% end %>