<% content_for :title, "出勤状況" %>
<%= turbo_stream_from [@team, :shifts] %>

<%= form_with url: team_work_statuses_path(@team), method: :get, local: true do |f| %>
  <%= f.date_field :date, value: @date, class: "..." %>
  <%= f.submit "表示" %>
<% end %>

<p>出勤: <%= @work_count %> / 未出勤: <%= @not_work_count %></p>

<table>
  <thead>
    <tr>
      <th>利用者</th>
      <th>従業員</th>
      <th>時間</th>
      <th>種別</th>
      <th>出勤状況</th>
    </tr>
  </thead>
  <tbody>
    <% @shifts.each do |shift| %>
      <tr id="<%= dom_id(shift) %>">
        <td><%= shift.client.name %></td>
        <td><%= shift.user&.name || "未配置" %></td>
        <td><%= shift.start_time.strftime("%H:%M") %> - <%= shift.end_time.strftime("%H:%M") %></td>
        <td><%= t("activerecord.attributes.shift.shift_types.#{shift.shift_type}") %></td>
        <td><%= shift.work_status == "work" ? "出勤済" : "未出勤" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
