<div id="<%= dom_id user_team %>">
  <p>
    <strong><%= t(".team") %></strong>
    <%= user_team.team_id %>
  </p>

  <p>
    <strong><%= t(".user") %></strong>
    <%= user_team.user_id %>
  </p>

</div>
