<div id="<%= dom_id user_team %>">
  <p>
    <strong><%= t(".team") %></strong>
    <%= user_team.team_id %>
  </p>

  <p>
    <strong><%= t(".use") %></strong>
    <%= user_team.use_id %>
  </p>

</div>
