<p style="color: green"><%= notice %></p>

<% content_for :title, t(".title") %>

<h1><%= t(".heading") %></h1>

<div id="user_teams">
  <% @user_teams.each do |user_team| %>
    <%= render user_team %>
    <p>
      <%= link_to t(".show"), user_team %>
    </p>
  <% end %>
</div>

<%= link_to t(".new"), new_user_team_path %>
