<p style="color: green"><%= notice %></p>

<%= render @user_team %>

<div>
  <%= link_to t(".edit"), edit_user_team_path(@user_team) %> |
  <%= link_to t(".back"), user_teams_path %>

  <%= button_to t(".destroy"), @user_team, method: :delete %>
</div>
