<%= form_with model: @user, url: team_user_path(@user.team, @user), method: :patch, local: true do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :team_id, "部署", style: "display: block" %>
    <%= form.collection_select :team_id, @teams, :id, :name %>
  </div>

  <div>
    <%= form.label :name, "氏名", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address, "住所", style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :pref_per_week, "希望出勤日数（週）", style: "display: block" %>
    <%= form.number_field :pref_per_week, min: 0 %>
  </div>

  <div>
    <%= form.label :commute, "通勤手段", style: "display: block" %>
    <%= form.text_field :commute %>
  </div>

  <% unless current_user == form.object %>
    <div>
      <%= form.label :role, "管理者権限の付与", style: "display: block" %>
      <%= form.select :role, [['管理者', 'admin'], ['一般', 'employee']] %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email, t(".email") %>
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>


  <div class="field">
    <%= form.label :password_confirmation, "確認用パスワード" %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


  <div class="flexbox">
    <%= form.submit "更新する" %>
  </div>
<% end %>
