<% content_for :title, t(".title") %>
<% content_for :head do %>
  <%= stylesheet_link_tag "user/index", "data-turbo-track": "dynamic" %>
<% end %>

<h1><%= "従業員" %></h1>

<div class="flexbox">
  <%= link_to t(".new"),  new_user_invitation_path, class: "flex-btn" %>
  <%= link_to t(".shifts"), team_client_shifts_path(@team,@client), class: "flex-btn" %>
  <%= link_to t(".clients"), team_clients_path(@team), class: "flex-btn" %>
</div>

<div id="clients">
  <% @users.each do |user| %>
    <%= link_to edit_user_registration_path(user) do %>
      <div class="card">
        <%= render user %>
      </div>
    <% end %>
  <% end %>
</div>
