<div id="<%= dom_id client %>">
  <p>
    <strong><%= t(".office") %></strong>
    <%= client.office_id %>
  </p>

  <p>
    <strong><%= t(".team") %></strong>
    <%= client.team_id %>
  </p>

  <p>
    <strong><%= t(".medical_care") %></strong>
    <%= client.medical_care %>
  </p>

  <p>
    <strong><%= t(".name") %></strong>
    <%= client.name %>
  </p>

  <p>
    <strong><%= t(".email") %></strong>
    <%= client.email %>
  </p>

  <p>
    <strong><%= t(".address") %></strong>
    <%= client.address %>
  </p>

  <p>
    <strong><%= t(".disease") %></strong>
    <%= client.disease %>
  </p>

  <p>
    <strong><%= t(".public_token") %></strong>
    <%= client.public_token %>
  </p>

  <p>
    <strong><%= t(".note") %></strong>
    <%= client.note %>
  </p>

</div>
