<div id="<%= dom_id client %>">
  <p>
    <strong>Office:</strong>
    <%= client.office_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= client.team_id %>
  </p>

  <p>
    <strong>Medical care:</strong>
    <%= client.medical_care %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client.address %>
  </p>

  <p>
    <strong>Disease:</strong>
    <%= client.disease %>
  </p>

  <p>
    <strong>Public token:</strong>
    <%= client.public_token %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= client.note %>
  </p>

</div>
