<% content_for :title, t(".title") %>
<%= turbo_stream_from [@team, :client_needs] %>
<% content_for :head do %>
  <%= stylesheet_link_tag "client/edit", "data-turbo-track": "dynamic" %>
<% end %>

<h1><%= t(".heading") %></h1>

<%= render "form", client: @client %>

<h3>必要シフト</h3>
<div id="client_needs">
<%= render @client.client_needs.select(&:persisted?) %>
</div>

<h4>追加</h4>
<%= turbo_frame_tag "client_need" do %>
  <%= link_to "新規追加", new_client_need_path %>
<% end %>

<br>

  <% if @team&.clients&.exists? %>
  <div class="flexbox">
    <%= link_to t(".back"), team_clients_path(@team), class: "flex-btn" %>
    <% if @team.clients.count > 1 %>
    <%= button_to t(".destroy"), [@team, @client], method: :delete, data: { turbo_confirm: t(".confirm_destroy") }, class: "flex-btn" %>
    <% end %>
  </div>
  <% end %>
