<% content_for :title, t(".title") %>
<% content_for :head do %>
  <%= stylesheet_link_tag "client/index", "data-turbo-track": "dynamic" %>
<% end %>

<h1><%= "利用者" %></h1>
<div class="flexbox">
  <%= link_to t(".new"), new_team_client_path(@team), class: "flex-btn" %>
  <%= link_to team_client_shifts_path(@team, @client) do %>
    <%= image_tag "back-btn.png", alt: t(".shifts"), class: "back-image" %>
  <% end %>
  <%= link_to t(".users"), team_users_path(@team), class: "flex-btn" %>
</div>

<div id="clients">
  <% @clients.each do |client| %>
    <%= link_to edit_team_client_path(@team, client) do %>
      <div class="card">
      <%= render client %>
      </div>
    <% end %>
  <% end %>
</div>
