<p style="color: green"><%= notice %></p>

<% content_for :title, t(".title") %>

<h1><%= t(".heading") %></h1>

<div id="clients">
  <% @clients.each do |client| %>
    <%= render client %>
    <p>
      <%= link_to t(".show"), client %>
    </p>
  <% end %>
</div>

<%= link_to t(".new"), new_client_path %>
