<%= form_with(model: [@team, @client, shift], local: true) do |form| %>
  <% if shift.errors.any? %>
    <div style="color: red">
      <h2><%= t(".errors.title", count: shift.errors.count) %></h2>

      <ul>
        <% shift.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :client_id %>
  </div>

  <div>
    <%= form.label :shift_type, style: "display: block" %>
    <%= form.select :shift_type, [['日勤', 'day'], ['夜勤', 'night']] %>
  </div>

  <div>
    <%= form.label :start_time, t(".start_time"), style: "display:block" %>
    <%= form.time_field :start_time ,required: true %>
  </div>

  <div>
    <%= form.label :end_time, t(".end_time"), style: "display:block" %>
    <%= form.time_field :end_time ,required: true %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_field :note %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date , required: true %>
  </div>

  <div class="flexbox">
    <%= form.submit t(".submit") %>
  </div>
<% end %>
