<div id="<%= dom_id shift %>">
  <p>
    <strong><%= t(".office") %></strong>
    <%= shift.office_id %>
  </p>

  <p>
    <strong><%= t(".client") %></strong>
    <%= shift.client_id %>
  </p>

  <p>
    <strong><%= t(".shift_type") %></strong>
    <%= shift.shift_type %>
  </p>

  <p>
    <strong><%= t(".slots") %></strong>
    <%= shift.slots %>
  </p>

  <p>
    <strong><%= t(".note") %></strong>
    <%= shift.note %>
  </p>

  <p>
    <strong><%= t(".date") %></strong>
    <%= shift.date %>
  </p>

</div>
