<p style="color: green"><%= notice %></p>

<% content_for :title, "Shifts" %>
<% content_for :head do %>
  <%= stylesheet_link_tag "shift/index", "data-turbo-track": "dynamic" %>
<% end %>

<div class="flexbox">
  <%= link_to "変更連絡状況", "#" %> 
  <%= link_to "顧客/従業員", clients_path %>
  <%= link_to "出勤状況", "#" %>
  <%= link_to "ログアウト", destroy_user_session_path %>
</div>

<hr>

  <%= form_with url: shifts_path, method: :get, local: true do |f| %>

    <%= f.month_field :date, id: "real-month", style: "display: none;"%>

    <div id="modal" class="modal">
      <%= f.label :team_id, "チーム" %>
      <%= f.collection_select :team_id, @teams, :id, :name, selected: @team.id %><br>

      <%= f.label :client_id, "クライアント" %>
      <%= f.collection_select :client_id, @clients, :id, :name, selected: @client.id %>
      <div id="close-modal" class="close-modal">✕</div>
    </div>
    
    <div class="flexbox">
      <div id= "fake-month" class="fake-form">
        <%= @date %>
      </div>

      <div id="fake-client" class="fake-form">
        <%= @client.name %>
      </div>
      <%= link_to "新規シフト", new_shift_path(client_id: @client.id, client_name: @client.name), class: "fake-form" %>
      <%= f.submit "絞り込み", class: "fake-form" %>
    </div>
  <% end %>

<div class="calendar">

    <% %w(日 月 火 水 木 金 土).each do |wday| %>
      <div class="week"><%= wday %></div>
    <% end %>

    <% @first_day.wday.times do %>
      <div class="day"></div>
    <% end %>

    <% (@first_day..@last_day).each do |date| %>
      <div class="day <%= 'today' if date == @today %>">
        <%= date.day %>

      <% if @shifts_by_date[date].present? %>
        <% @shifts_by_date[date].each do |shift| %>
        <%= link_to edit_shift_path(shift) do %>
          <div class="shift <%= "night" if shift.shift_type == 0 %>">
            <%= shift.client.name %> <br>
            <%= shift.start_time.strftime("%H:%M") %> - <%= shift.end_time.strftime("%H:%M") %>
          </div>
        <% end %>
        <% end %>
      <% end %>
      </div>
    <% end %>

    <% (6 - @last_day.wday).times do %>
      <div class="day"></div>
    <% end %>
</div>