<h2><%= t(".heading") %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, t(".email") %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, t(".password") %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :otp_attempt, "認証コード（2段階認証を有効にしている人だけ）" %><br />
    <%= f.text_field :otp_attempt,
          autocomplete: "one-time-code",
          inputmode: "numeric" %>
  </div>

  <div class="flexbox">
    <%= f.submit t(".submit") %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
