<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% resource.class.invite_key_fields.each do |field| -%>
      <%= f.label :name, t("devise.invitations.new.name") %>
      <%= f.text_field :name, required: true %>

      <%= f.label field %>
      <%= f.text_field field, required: true %>

      <%= f.label :team_id, t("devise.invitations.new.team") %>
      <%= f.collection_select :team_id, @office.teams, :id, :name, prompt: t("devise.invitations.new.team_prompt"), required: true %>

      <%= f.label :address, t("devise.invitations.new.address") %>
      <%= f.text_field :address , required: true%>

      <%= f.label :pref_per_week, t("devise.invitations.new.pref_per_week") %>
      <%= f.select :pref_per_week, 0..7 %>

      <%= f.label :commute, t("devise.invitations.new.commute") %>
      <%= f.text_field :commute %>
    <% end %>
    <div class="flexbox">
      <%= f.submit t("devise.invitations.new.submit_button") %>
      <%= link_to t("devise.invitations.new.back"), team_users_path(@office.teams.first), class: "flex-btn" %>
    </div>
  <% end %>
