<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% resource.class.invite_key_fields.each do |field| -%>
    
      <%= f.label :name, "氏名" %>
      <%= f.text_field :name, required: true %>
    
  
      <%= f.label field %>
      <%= f.text_field field, required: true %>
  
    
      <%= f.label :team_id, "所属部署" %>
      <%= f.collection_select :team_id, @office.teams, :id, :name, prompt: "所属部署を選択してください", required: true %>
  

   
      <%= f.label :address, "住所" %>
      <%= f.text_field :address , required: true%>
   

  
      <%= f.label :pref_per_week, "週あたりの希望勤務日数" %>
      <%= f.select :pref_per_week, 0..7 %>
 

 
      <%= f.label :commute, "通勤手段" %>
      <%= f.text_field :commute %>
   
    <% end %>
    <div class="flexbox">
      <%= f.submit t("devise.invitations.new.submit_button") %>
      <%= link_to "戻る", team_users_path(@office.teams.first), class: "flex-btn" %>
    </div>
  <% end %>
