<div id="<%= dom_id client_need %>">
  <p>
    <strong>Office:</strong>
    <%= client_need.office_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= client_need.client_id %>
  </p>

  <p>
    <strong>Week:</strong>
    <%= client_need.week %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= client_need.type %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= client_need.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= client_need.end_time %>
  </p>

  <p>
    <strong>Slots:</strong>
    <%= client_need.slots %>
  </p>

</div>
