<div id="<%= dom_id client_need %>">
  <p>
    <strong><%= t(".office") %></strong>
    <%= client_need.office_id %>
  </p>

  <p>
    <strong><%= t(".client") %></strong>
    <%= client_need.client_id %>
  </p>

  <p>
    <strong><%= t(".week") %></strong>
    <%= client_need.week %>
  </p>

  <p>
    <strong><%= t(".need_type") %></strong>
    <%= client_need.type %>
  </p>

  <p>
    <strong><%= t(".start_time") %></strong>
    <%= client_need.start_time %>
  </p>

  <p>
    <strong><%= t(".end_time") %></strong>
    <%= client_need.end_time %>
  </p>

  <p>
    <strong><%= t(".slots") %></strong>
    <%= client_need.slots %>
  </p>

</div>
