<p style="color: green"><%= notice %></p>

<%= render @client_need %>

<div>
  <%= link_to "Edit this client need", edit_client_need_path(@client_need) %> |
  <%= link_to "Back to client needs", client_needs_path %>

  <%= button_to "Destroy this client need", @client_need, method: :delete %>
</div>
