<%= turbo_stream_from @room %>
<% content_for :head do %>
  <%= stylesheet_link_tag "room/show", "data-turbo-track": "dynamic" %>
  <style>
      .message-user-<%= current_user.id %> {
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: auto;

      }
      .message-user-<%= current_user.id %> .message-bubble {
        background-color: #8de055;
        border-top-right-radius: 0;
        border-top-left-radius: 15px;
      }
      .message-user-<%= current_user.id %> .icon {
        display: none;
      }
  </style>
<% end %>


<div style="position: relative;">

<div class="flexbox" style="align-items: center; flex-wrap: nowrap;" >
<%= link_to rooms_path do %>
 <%= image_tag "back-btn.png", class: "back-image" %>
<% end %>
<h3 style="display: inline-block; margin-right: auto; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; vertical-align: bottom;">
  <div class="room-members">
  <%= @room.users
          .where.not(id: current_user.id)
          .pluck(:name)
          .join("ã€") %>
</div>
</h3>
 <%= link_to edit_room_path do %>
  <%= image_tag "hamburger.png", class: "back-image" %>
<% end %>
</div>

<div id="messages" class="messages-container">
  <%= render @messages.select(&:persisted?) %>
</div>

<%= render "form", room: @room, message: @message %>
</div>