<%= turbo_stream_from @room %>
<% content_for :head do %>
  <%= stylesheet_link_tag "room/show", "data-turbo-track": "dynamic" %>
  <style>
      .message-user-<%= current_user.id %> {
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: auto;

      }
      .message-user-<%= current_user.id %> .message-bubble {
        background-color: #8de055;
        border-top-right-radius: 0;
        border-top-left-radius: 15px;
      }
      .message-user-<%= current_user.id %> .icon {
        display: none;
      }
  </style>
<% end %>


<div style="position: relative;">

<div class="flex-box" style="align-items: center;" >
<%= link_to rooms_path do %>
 <%= image_tag "back-btn.png", class: "back-image" %>
<% end %>
<h1 style="display: inline;"><%= @room.users.where.not(id: current_user.id).first.name %></h1>
</div>

<div id="messages" class="messages-container">
  <%= render @messages.select(&:persisted?) %>
</div>

<%= render "form", room: @room, message: @message %>
</div>