<%= form_with model: @user_need, url: team_user_user_needs_path(@team, @user) do |form| %>
  <% if user_need.errors.any? %>
    <div style="color: red">
      

      <ul>
        <% user_need.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :user_id %>
  </div>

   <div>
    <%= form.label :week, style: "display: block" %>
    <%= form.select :week, ClientNeed.weeks.keys.map { |k| [t("activerecord.attributes.client_need.weeks.#{k}"), k] }, required: true %>
  </div>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.time_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, style: "display: block" %>
    <%= form.time_field :end_time %>
  </div>

  <div class="flexbox">
    <%= form.submit t(".submit") %>
  </div>
<% end %>
