<div id="<%= dom_id user_need %>">
  <p>
    <strong>Office:</strong>
    <%= user_need.office_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_need.user_id %>
  </p>

  <p>
    <strong>Week:</strong>
    <%= user_need.week %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= user_need.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= user_need.end_time %>
  </p>

</div>
