<div id="<%= dom_id user_need %>">
  <p>
    <strong><%= t(".office") %></strong>
    <%= user_need.office_id %>
  </p>

  <p>
    <strong><%= t(".user") %></strong>
    <%= user_need.user_id %>
  </p>

  <p>
    <strong><%= t(".week") %></strong>
    <%= user_need.week %>
  </p>

  <p>
    <strong><%= t(".start_time") %></strong>
    <%= user_need.start_time %>
  </p>

  <p>
    <strong><%= t(".end_time") %></strong>
    <%= user_need.end_time %>
  </p>

</div>
