<%= turbo_frame_tag "user_needs" do %>
<div class="modal open">

  <%= link_to edit_team_user_path(@team, @user) do %>
      <div class="back-btn">✕</div>
  <% end %>

    <h3>出勤希望日</h3>

    <% UserNeed.weeks.keys.each do |week| %>
      <div class="card">
        <h4><%= t("activerecord.attributes.user_need.weeks.#{week}") %></h4>
        <div id="user_needs_<%= week %>">
           <%= render (@user_needs[week] || []) %>
        </div>
      </div>
    <% end %>

    <%= turbo_frame_tag "new_user_need" do %>
      <div class="flexbox">
        <%= link_to "出勤希望日", new_team_user_user_need_path(@team, @user), class: "flex-btn" %>
      </div>
    <% end %>

</div>

<% end %>
