<p style="color: green"><%= notice %></p>

<% content_for :title, t(".title") %>

<h1><%= t(".heading") %></h1>

<div id="user_needs">
  <% @user_needs.each do |user_need| %>
    <%= render user_need %>
    <p>
      <%= link_to t(".show"), user_need %>
    </p>
  <% end %>
</div>

<%= link_to t(".new"), new_user_need_path %>
