<p style="color: green"><%= notice %></p>

<%= render @user_need %>

<div>
  <%= link_to t(".edit"), edit_user_need_path(@user_need) %> |
  <%= link_to t(".back"), user_needs_path %>

  <%= button_to t(".destroy"), @user_need, method: :delete %>
</div>
